h1 {
    text-align: center;
    font-size: 40px;
}

div {
    text-align: center;
    border: 2px solid black;
    width: 250px;
    position: absolute;
    left: 42%;
    top: 15%;
    background-color: antiquewhite;
}

body {
    background-size: cover;
    background-image: url(beach-1761410.jpg)

}

