body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    background-image: url(../images/backt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 84.2vh;
    position: relative;
}

div {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

p {
    font-size: 18px;
}

#botonLimpiar {
    display: none;
    position: absolute;
    top: 50px;
    right: 120px;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input {
    display: none;
}

label {
    display: none;
}

/* Media Queries */

/* Estilos para Tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        font-size: 1.2em;
    }

    nav ul li {
        margin-right: 20px;
    }

    nav a {
        font-size: 0.9em;
    }

    main {
        font-size: 1em;
        background-size: contain;
        background-color: rgb(199, 199, 199);
    }
}

/* Estilos para Celulares */
@media (max-width: 767px) {
    header {
        font-size: 0.8em;
        padding: 15px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
        font-size: 1em;
        margin: 0;
    }

    main {
        font-size: 0.8em;
        background-image: url(../images/mbackt.jpg);
        background-size: cover;
        background-color: rgb(199, 199, 199);
    }

    ul{
        display: none;
    }
      
    input:checked  ~ ul{
      display:block;
    }
           
    label {
        box-sizing: border-box;
        display: inline-block;
        background: #333;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
      
     /* Estilo del boton cuando el menú está expandido*/
    input:checked ~ label {
        background: rgb(119, 119, 119); 
    }
      
    ul{
        margin-top:0;
        padding: 0;
        width: 200px;      
    }
      
      
    li {
        display: block;
        background: #333;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    
}