<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="../static/css/estilosInicio.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
    <header>
        <h1>Bienvenido a la Clínica de Mascotas</h1>
        <nav class="respmenu">
            <input type="checkbox" id="menu">
            <label for="menu"> ☰ </label>
            <ul>
                <li><a href="registrarUsuario.html">Registrar Usuario</a></li>
                <li><a href="registrarCita.html">Registrar Cita Médica</a></li>
                <li><a href="verUsuarios.html">Ver Usuarios</a></li>
                <li><a href="verCitas.html">Ver Citas Médicas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
        <h2>Gestiona tus citas médicas y las de tu mascota</h2>
        <p>Utiliza las opciones del menú para registrar usuarios, programar citas o consultar información.</p>
        </div>
    </main>

    <!-- Botón oculto para limpiar el localStorage -->
    <button id="botonLimpiar" onclick="limpiarMemoria()">Limpiar Memoria</button>
</body>
</html>
