<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario y Mascota</title>
    <link rel="stylesheet" href="../static/css/estilosRegistrarUsuario.css">
    <script src="../static/js/main.js" defer></script>
</head>
<body>
    <header>
        <h1>Registrar Usuario y Mascota</h1>
        <a href="inicio.html">Volver al Inicio</a>
    </header>

    <main>
        <form onsubmit="return validarFormularioUsuario()">
            <label for="nombrePersona">Nombre de la Persona:</label>
            <input type="text" id="nombrePersona" name="nombrePersona">

            <label for="nombreMascota">Nombre de la Mascota:</label>
            <input type="text" id="nombreMascota" name="nombreMascota">

            <label for="tipoMascota">Tipo de Mascota:</label>
            <input type="text" id="tipoMascota" name="tipoMascota">

            <label for="edadMascota">Edad de la Mascota:</label>
            <input type="number" id="edadMascota" name="edadMascota">

            <button type="submit">Registrar</button>
            <p id="mensajeError" class="mensajeError"></p>
        </form>
    </main>
</body>
</html>
