<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cita Médica</title>
    <link rel="stylesheet" href="../static/css/estilosRegistrarCita.css">
</head>
<body>
    <header>
        <h1>Registro de Cita Médica para Mascota</h1>
        <a href="inicio.html">Volver al Inicio</a>
    </header>
    <main>
        <form id="formRegistrarCita" onsubmit="event.preventDefault(); registrarCita();">
            <label for="nombreDueño">Nombre del Dueño:</label>
            <input type="text" id="nombreDueño" name="nombreDueño" required>

            <label for="nombreMascota">Nombre de la Mascota:</label>
            <input type="text" id="nombreMascota" name="nombreMascota" required>

            <label for="fechaCita">Fecha de la Cita:</label>
            <input type="date" id="fechaCita" name="fechaCita" required>

            <label for="horaCita">Hora de la Cita:</label>
            <input type="time" id="horaCita" name="horaCita" required>

            <button type="submit">Registrar Cita</button>
        </form>
    </main>

    <script src="../static/js/main.js"></script>
</body>
</html>
