<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Citas Médicas</title>
    <link rel="stylesheet" href="../static/css/estilosVerCitas.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
    <header>
        <h1>Listado de Citas Médicas</h1>
        <a href="inicio.html">Volver al Inicio</a>
    </header>
    <main>
        <section id="listaCitas">
            <h3>Citas Programadas</h3>
            <div class="cita">
                <p class="nombreDueño">Dueño: Juan Pérez</p>
                <p class="nombreMascota">Mascota: Firulais</p>
                <p class="fechaCita">Fecha: 15/10/2024</p>
            </div>
            <div class="cita">
                <p class="nombreDueño">Dueño: María Gómez</p>
                <p class="nombreMascota">Mascota: Pelusa</p>
                <p class="fechaCita">Fecha: 18/10/2024</p>
            </div>
            <!-- Agregar más citas según la lógica del backend -->
        </section>
    </main>
</body>
</html>
