<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Usuarios Registrados</title>
    <link rel="stylesheet" href="../static/css/estilosVerUsuarios.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
    <header>
        <h1>Usuarios y Mascotas Registradas</h1>
        <a href="inicio.html">Volver al Inicio</a>
    </header>
    <main>
        <section id="listaUsuarios">
            <h3>Listado de Usuarios</h3>
            <div class="usuario">
                <p class="nombreUsuario">Nombre del Dueño: Juan Pérez</p>
                <p class="mascotaUsuario">Nombre de la Mascota: Firulais</p>
            </div>
            <div class="usuario">
                <p class="nombreUsuario">Nombre del Dueño: María Gómez</p>
                <p class="mascotaUsuario">Nombre de la Mascota: Pelusa</p>
            </div>
            <!-- Agregar más usuarios según la lógica del backend -->
        </section>
    </main>
</body>
</html>
